<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>test</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row" style="margin: 6% 0;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card" style="background: #54497a; height: 500px;">
                        <div class="card-header">
                            goredis Terminal
                        </div>
                        <div class="card-body" style="overflow:scroll;overflow-x:hidden;">
                            <div class="card-text">
                                <div v-for="d in terminal">
                                    {{ d }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group input-group-sm" style="width: 80%; margin: auto;">
                                <input type="text" class="form-control" placeholder="..." v-model="cmd"
                                    @keyup.enter="send" @keyup.up="keyUp" @keyup.down="keyDown">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                        @click="send">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                terminal: ["> "],
                cmd: "",
                history: [],
                ptr:0,
            },
            methods: {
                send() {
                    // 记录历史命令
                    app.history.push(app.cmd)
                    app.terminal.push(app.terminal.pop() + app.cmd)
                    app.request(app.cmd)
                    // 清空输入框
                    app.cmd = ""
                    // 更新最新历史命令指针
                    app.ptr = app.history.length
                },
                request(cmd) {
                    axios({
                        method: "post",
                        url: "/exec?cmd=" + cmd,
                    }).then(function (resp) {
                        app.terminal.push(resp.data)
                        app.terminal.push("> ")
                    })
                },
                keyUp() {
                    app.cmdHistoryMove(-1)
                },
                keyDown() {
                    app.cmdHistoryMove(1)
                },
                // direction 
                cmdHistoryMove(direction){
                    if (direction > 0) {
                        app.ptr = ++app.ptr
                        if (app.ptr >= app.history.length) {
                            app.ptr = app.history.length - 1
                        }
                    } else {
                        app.ptr = --app.ptr
                        if (app.ptr < 0) {
                            app.ptr = 0
                        }
                    }
                    app.cmd = app.history[app.ptr]
                }
            }
        })
    </script>
</body>

</html>